In [ ]:
Day 11: Sets

In [ ]:
Exercises

In [20]:
#Create an empty set and assign it to a variable

food = set()

In [23]:
#Add three items to your empty set using either several add calls, or a 
#single call to update.

#adds
food.add("apple")
food.add("banana")
food.add("cherry")

#update
food.update(["apple", "banana", "cherry"])

In [25]:
#Create a second set which includes at least one common element with the first set.

fruits = {"apple", "durian", "mango"}

In [28]:
#Find the union, symmetric difference, and intersection of the two sets. 
#Print the results of each operation.

print(food)
print(fruits)

print(food.union(fruits))
print(food.intersection(fruits))
print(food.symmetric_difference(fruits))

{'cherry', 'banana', 'apple'}
{'mango', 'durian', 'apple'}
{'durian', 'apple', 'mango', 'cherry', 'banana'}
{'apple'}
{'durian', 'cherry', 'mango', 'banana'}

In [ ]:
#Create a sequence of numbers using range, then ask the user to enter a number.
#Inform the user whether or not their number was within the range you specified.

number_set = set()
for i in range(0,70):
    number_set.add(i)
    
print(number_set)
guess = input("Enter a number: ")
print(int(guess) in number_set)
if int(guess) in number_set == 1:
    print("Your number is within the range.")
else:
    print("Your number is not within the range.")

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69}